<style>

	.btn-whatsapp a {

		color:#fff; 
		text-decoration:none; 
		display:block; 
	}
	
	.btn-whatsapp {
		
		position:fixed; 
		right:75px; 
		bottom:30px; 
		transform: translate(-50%, -50%);  
		background-color:rgb(37, 211, 102); 
		width:60px; height:60px; 
		text-align:center; 
		line-height:58px; 
		font-size:1.8em; 
		color:#ffffff; 
		font-weight:100; 
		border-radius:50%; 
	}
	
	.btn-whatsapp:before,
	.btn-whatsapp:after
	
	{
	
		content: '';
		display:block;
		position: absolute;
		border-radius:50%;
		border:1px solid #25d366;
		left: -20px;
		right: -20px;
		bottom: -20px;
		top: -20px;
		animation: animate 1.5s linear infinite;
		opacity:0;
		backface-visibility:hidden;    
	}
	
	.pulsaDelay:after { animation-delay: .5s; }
	
	@keyframes animate {
	
	
	   0%   { transform: scale(0.5); opacity:0; }
	   50%  { opacity:1; }
	   100% { transform: scale(1.2); opacity:0; }
	
	}

</style>

<footer>
	<div class="container">
		<div class="row row-flex">
			{% if informations %}
				<div class="col-sm-3">
					<h5>{{ text_information }}</h5>
					<ul class="list-unstyled">
						{% for information in informations %}
							<li>
								<a href="{{ information.href }}">{{ information.title }}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
			<div class="col-sm-3">
				<h5>{{ text_service }}</h5>
				<ul class="list-unstyled">
					<li>
						<a href="{{ contact }}">{{ text_contact }}</a>
					</li>
					<li>
						<a href="{{ return }}">{{ text_return }}</a>
					</li>
					<li>
						<a href="{{ sitemap }}">{{ text_sitemap }}</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h5>{{ text_extra }}</h5>
				<ul class="list-unstyled">
					<li>
						<a href="{{ manufacturer }}">{{ text_manufacturer }}</a>
					</li>
					<li>
						<a href="{{ voucher }}">{{ text_voucher }}</a>
					</li>
					{# <li>
						<a href="{{ affiliate }}">{{ text_affiliate }}</a>
					</li> #}
					<li>
						<a href="{{ special }}">{{ text_special }}</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h5>{{ text_account }}</h5>
				<ul class="list-unstyled">
					<li>
						<a href="{{ account }}">{{ text_account }}</a>
					</li>
					<li>
						<a href="{{ order }}">{{ text_order }}</a>
					</li>
					<li>
						<a href="{{ wishlist }}">{{ text_wishlist }}</a>
					</li>
					<li>
						<a href="{{ newsletter }}">{{ text_newsletter }}</a>
					</li>
				</ul>
			</div>
		</div>
		<hr>
		<div class="row row-flex">
			<div class="col-xs-12">
				<ul class="list-unstyled row row-flex justify-content-center">
					<li class="me-4 mb-2"><img src="./image/catalog/payments/pix.png" alt="Bandeira PIX" style="width:45px;"></li>
					<li class="me-4 mb-2"><img src="./image/catalog/payments/visa.png" alt="Bandeira Visa" style="width:45px;"></li>
					<li class="me-4 mb-2"><img src="./image/catalog/payments/mastercard.png" alt="Bandeira Master Card" style="width:45px;"></li>
					<li class="me-4 mb-2"><img src="./image/catalog/payments/amex.png" alt="Bandeira American Express" style="width:45px;"></li>
					{# <li class="me-4 mb-2"><img src="./image/catalog/payments/diners.png" alt="Bandeira Diners Club" style="width:45px;"></li> #}
					<li class="me-4 mb-2"><img src="./image/catalog/payments/hipercard.png" alt="Bandeira Hipercard" style="width:45px;"></li>
					<li class="me-4 mb-2"><img src="./image/catalog/payments/elo.png" alt="Bandeira ELO" style="width:45px;"></li>
				</ul>
			</div>
		</div>
		<hr>
		
		<p class="mb-0"><b>Cabo Frio:</b></p>
		<p>Rua José Bonifácio nº1, Centro - Cabo Frio - RJ - <a href="tel:(22) 2040-7641" style="display:inline-block;">(22) 2040-7641</a> </p>
		<p>Av. Henrique Terra, nº1700, Palmeiras - Cabo Frio - RJ (Shopping Park Lagos)</p>

		<p>Rua Expedicionários da Pátria nº575 - São Cristóvão - Cabo Frio - RJ - <a href="tel:(22) 2041-5354" style="display:inline-block;">(22) 2041-5354</a></p>

		<p class="mb-0"><b>São Pedro:</b></p>
		<p>Rua Epaminondas Pereira Nunes, nº9, Centro - São Pedro da Aldeia - RJ - <a href="tel:(22) 2621-3860" style="display:inline-block;">(22) 2621-3860</a></p>

		<p class="mb-0"><b>Delivery</b></p>
		<p><a href="https://wa.me/5522992196369" style="display:inline-block"><i class="fab fa-whatsapp"></i> (22) 99219-6369</a></p>
		
		<p>{{ powered }}</p>
	</div>


	<!--Botão whatsapp-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://wa.me/5522992196369?text=" target="_blank">
    <div class="btn-whatsapp pulsaDelay"><i class="fa fa-whatsapp"></i></div>
</a>
<!--Botão whatsapp-->
</footer>
{% for style in styles %}
	<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/>
{% endfor %}
{% for script in scripts %}
	<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//--></body></html>
