{% if categories %}
<div class="">
  <nav id="menu" class="navbar">
    <div class="navbar-header"><span id="category" class="visible-xs">{{ text_category }}</span>
      <button type="button" class="btn btn-navbar navbar-toggle btn-navbar-open" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <button type="button" class="btn btn-navbar navbar-toggle btn-navbar-close" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-times"></i></button>
      <ul class="nav">
      <li class="allCategories">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu de Departamentos</a>
        <div class="dropdown-menu">
          <div class="dropdown-inner">
            <ul class="list-unstyled">
            {% for category in categories_full %}
            {% if category.children %}
            
            {% if category.children|length > 10 %}
            <li class="dropdown dropdown-fullwidth">
            {% else %}          
            <li class="dropdown">
            {% endif %}

            <a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }} <i class="fa fa-angle-right"></i></a>
              <div class="dropdown-menu">
                <div class="dropdown-inner"> 
                  
                  {% if category.children|length <= 10 %}
                  {% set colunas = 1 %}
                {% elseif category.children|length <= 20 %}
                  {% set colunas = 2 %}
                {% elseif category.children|length > 20 %}
                  {% set colunas = 3 %}
                {% endif %}

                  {% for children in category.children|batch(category.children|length / colunas|round(1, 'ceil')) %}
                  <ul class="list-unstyled">
                    {% for child in children %}
                    <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                    {% endfor %}
                  </ul>
                  {% endfor %}</div>
                <a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a> </div>
            </li>
            {% else %}
            <li><a href="{{ category.href }}">{{ category.name }}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </li>




        {% for category in categories %}
        {% if category.children %}
                
        {% if category.children|length > 10 %}
        <li class="dropdown dropdown-fullwidth">
        {% else %}          
        <li class="dropdown">
        {% endif %}

        <a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }} {{ category.children|length }}<i class="fa fa-angle-right"></i></a>
          <div class="dropdown-menu">
            <div class="dropdown-inner"> 
              {% if category.children|length <= 10 %}
                {% set colunas = 1 %}
              {% elseif category.children|length <= 20 %}
                {% set colunas = 2 %}
              {% elseif category.children|length > 20 %}
                {% set colunas = 3 %}
              {% endif %}

              {% for children in category.children|batch(category.children|length / colunas|round(1, 'ceil')) %}
              <ul class="list-unstyled">
                {% for child in children %}
                <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                {% endfor %}
              </ul>
              {% endfor %}</div>
            <a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a> </div>
        </li>
        {% else %}
        <li><a href="{{ category.href }}">{{ category.name }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
</div>
{% endif %} 

<script>
$('.btn-navbar-close, .btn-navbar-open').click(function(e){
  $('body').toggleClass('no-scroll');
});
</script>