<h3>{{ heading_title }}</h3>


<div class="swiper-viewport oc_featured">
  <div id="carousel_featured{{ module }}" class="swiper-container">
    <div class="swiper-wrapper">

 {% for product in products %}
 <div class="swiper-slide text-center">
  <div class="product-layout">
    <div class="product-thumb transition">
      <div class="image">
      <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
      <button type="button" class="btn-wishlist" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
      </div>
      <div class="caption">
        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
        {% if product.rating %}
        <div class="rating">
          {% for i in 5 %}
          {% if product.rating < i %}
          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% else %}
          <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}
        {% if product.price %}
        <p class="price">
          {% if not product.special %}
          {{ product.price }}          
          {% else %}
          <span class="price-old">{{ product.price }}</span> <span class="price-new">{{ product.special }}</span>
          {% endif %}
          {% if product.tax %}
          <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
          {% endif %}
        </p>
        {{ product.parcelamento }}
        {% endif %}
        <p class="text-gray fs-6">{{ product.description }}</p>
      </div>
      <div class="product-buttons">
        <button type="button" class="btn btn-block btn-theme" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="">{{ button_cart }}</span></button>
        
      </div>
    </div>
  </div>
  </div>
  {% endfor %}

  
</div>
</div>

<div class="swiper-pager">
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
</div>

<script type="text/javascript"><!--
  $('#carousel_featured{{ module }}').swiper({
    mode: 'horizontal',
    slidesPerView: 4,
    //pagination: '.oc_featured{{ module }}',
    paginationClickable: true,
    nextButton: '.oc_featured .swiper-button-next',
    prevButton: '.oc_featured .swiper-button-prev',
      spaceBetween: 30,
    autoplay: 2500,
      autoplayDisableOnInteraction: true,
    loop: true,
    breakpoints: {
      320: {
        slidesPerView: 1,
        spaceBetween: 20
      },      
      480: {
        slidesPerView: 1,
        spaceBetween: 30
      },
      640: {
        slidesPerView: 2,
        spaceBetween: 5,
      },
      768: {
        slidesPerView: 3,
        spaceBetween: 5,
      },
      1024: {
        slidesPerView: 3,
        spaceBetween: 5,
      },
    }
  });
  //--></script>