<div class="row">
  <div class="col-sm-6">
    <fieldset id="account">
      <legend>{{ text_your_details }}</legend>
      <div class="form-group" style="display: {% if customer_groups|length > 1 %} block {% else %} none {% endif %};">
        <label class="control-label">{{ entry_customer_group }}</label>
        {% for customer_group in customer_groups %}
        {% if customer_group.customer_group_id == customer_group_id %}
        <div class="radio">
          <label>
            <input type="radio" name="customer_group_id" value="{{ customer_group.customer_group_id }}" checked="checked" />
            {{ customer_group.name }}</label>
        </div>
        {% else %}
        <div class="radio">
          <label>
            <input type="radio" name="customer_group_id" value="{{ customer_group.customer_group_id }}" />
            {{ customer_group.name }}</label>
        </div>
        {% endif %}
        {% endfor %}</div>
      <div class="form-group required">
        <label class="control-label" for="input-payment-firstname">{{ entry_firstname }}</label>
        <input type="text" name="firstname" value="" placeholder="{{ entry_firstname }}" id="input-payment-firstname" class="form-control" />
      </div>
      <div class="form-group required">
        <label class="control-label" for="input-payment-lastname">{{ entry_lastname }}</label>
        <input type="text" name="lastname" value="" placeholder="{{ entry_lastname }}" id="input-payment-lastname" class="form-control" />
      </div>
      <div class="form-group required">
        <label class="control-label" for="input-payment-email">{{ entry_email }}</label>
        <input type="text" name="email" value="" placeholder="{{ entry_email }}" id="input-payment-email" class="form-control" />
      </div>
      <div class="form-group required">
        <label class="control-label" for="input-payment-telephone">{{ entry_telephone }}</label>
        <input type="text" name="telephone" value="" placeholder="{{ entry_telephone }}" id="input-payment-telephone" class="form-control" />
      </div>
      {% for custom_field in custom_fields %}
      
      {% if custom_field.location == 'account' %}
      
      {% if custom_field.type == 'select' %}
      <div id="payment-custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
        <label class="control-label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
        <select name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control">
          <option value="">{{ text_select }}</option>
          
          
          
          {% for custom_field_value in custom_field.custom_field_value %}
          
          
          
          <option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
          
          
          
          {% endfor %}
        
        
        
        </select>
      </div>
      {% endif %}
      
      {% if custom_field.type == 'radio' %}
      <div id="payment-custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
        <label class="control-label">{{ custom_field.name }}</label>
        <div id="input-payment-custom-field{{ custom_field.custom_field_id }}"> {% for custom_field_value in custom_field.custom_field_value %}
          <div class="radio">
            <label>
              <input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" />
              {{ custom_field_value.name }}</label>
          </div>
          {% endfor %} </div>
      </div>
      {% endif %}
      
      {% if custom_field.type == 'checkbox' %}
      <div id="payment-custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
        <label class="control-label">{{ custom_field.name }}</label>
        <div id="input-payment-custom-field{{ custom_field.custom_field_id }}"> {% for custom_field_value in custom_field.custom_field_value %}
          <div class="checkbox">
            <label>
              <input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" />
              {{ custom_field_value.name }}</label>
          </div>
          {% endfor %} </div>
      </div>
      {% endif %}
      
      {% if custom_field.type == 'text' %}
      <div id="payment-custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
        <label class="control-label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
        <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
      </div>
      {% endif %}
      
      {% if custom_field.type == 'textarea' %}
      <div id="payment-custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
        <label class="control-label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
        <textarea name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" rows="5" placeholder="{{ custom_field.name }}" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control">{{ custom_field.value }}</textarea>
      </div>
      {% endif %}
      
      {% if custom_field.type == 'file' %}
      <div id="payment-custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
        <label class="control-label">{{ custom_field.name }}</label>
        <br />
        <button type="button" id="button-payment-custom-field{{ custom_field.custom_field_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default"><i class="fa fa-upload"></i> {{ button_upload }}</button>
        <input type="hidden" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="" id="input-payment-custom-field{{ custom_field.custom_field_id }}" />
      </div>
      {% endif %}
      
      {% if custom_field.type == 'date' %}
      <div id="payment-custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
        <label class="control-label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
        <div class="input-group date">
          <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" data-date-format="YYYY-MM-DD" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
          <span class="input-group-btn">
          <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
          </span></div>
      </div>
      {% endif %}
      
      {% if custom_field.type == 'time' %}
      <div id="payment-custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
        <label class="control-label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
        <div class="input-group time">
          <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" data-date-format="HH:mm" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
          <span class="input-group-btn">
          <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
          </span></div>
      </div>
      {% endif %}
      
      {% if custom_field.type == 'datetime' %}
      <div id="payment-custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
        <label class="control-label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
        <div class="input-group datetime">
          <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" data-date-format="YYYY-MM-DD HH:mm" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
          <span class="input-group-btn">
          <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
          </span></div>
      </div>
      {% endif %}
      
      {% endif %}
      
      {% endfor %}
    </fieldset>
    <fieldset>
      <legend>{{ text_your_password }}</legend>
      <div class="form-group required">
        <label class="control-label" for="input-payment-password">{{ entry_password }}</label>
        <input type="password" name="password" value="" placeholder="{{ entry_password }}" id="input-payment-password" class="form-control" />
      </div>
      <div class="form-group required">
        <label class="control-label" for="input-payment-confirm">{{ entry_confirm }}</label>
        <input type="password" name="confirm" value="" placeholder="{{ entry_confirm }}" id="input-payment-confirm" class="form-control" />
      </div>
    </fieldset>
  </div>
  <div class="col-sm-6">
    <fieldset id="address">
      <legend>{{ text_your_address }}</legend>
      <div class="form-group">
        <label class="control-label" for="input-payment-company">{{ entry_company }}</label>
        <input type="text" name="company" value="" placeholder="{{ entry_company }}" id="input-payment-company" class="form-control" />
      </div>
      <div class="form-group required">
        <label class="control-label" for="input-payment-postcode">{{ entry_postcode }}</label>
        <input type="text" name="postcode" value="{{ postcode }}" placeholder="{{ entry_postcode }}" id="input-payment-postcode" class="form-control" />
      </div>
      <div class="form-group required">
        <label class="control-label" for="input-payment-address-1">{{ entry_address_1 }}</label>
        <input type="text" name="address_1" value="" placeholder="{{ entry_address_1 }}" id="input-payment-address-1" class="form-control" />
      </div>
      <div class="form-group">
        <label class="control-label" for="input-payment-address-2">{{ entry_address_2 }}</label>
        <input type="text" name="address_2" value="" placeholder="{{ entry_address_2 }}" id="input-payment-address-2" class="form-control" />
      </div>
      <div class="form-group required">
        <label class="control-label" for="input-payment-city">{{ entry_city }}</label>
        <input type="text" name="city" value="" placeholder="{{ entry_city }}" id="input-payment-city" class="form-control" />
      </div>
      <!--
      <div class="form-group required">
        <label class="control-label" for="input-payment-postcode">{{ entry_postcode }}</label>
        <input type="text" name="postcode" value="{{ postcode }}" placeholder="{{ entry_postcode }}" id="input-payment-postcode" class="form-control" />
      </div>
    -->
      <div class="form-group required">
        <label class="control-label" for="input-payment-country">{{ entry_country }}</label>
        <select name="country_id" id="input-payment-country" class="form-control">
          <option value="">{{ text_select }}</option>
          
          
          
         {% for country in countries %}
          {% if country.country_id == country_id %}
          
          
          
          <option value="{{ country.country_id }}" selected="selected">{{ country.name }}</option>
          
          
          
          {% else %}
          
          
          
          <option value="{{ country.country_id }}">{{ country.name }}</option>
          
          
          
          {% endif %}
          {% endfor %}
        
        
        
        </select>
      </div>
      <div class="form-group required">
        <label class="control-label" for="input-payment-zone">{{ entry_zone }}</label>
        <select name="zone_id" id="input-payment-zone" class="form-control">
        </select>
      </div>
      {% for custom_field in custom_fields %}
      
      {% if custom_field.location == 'address' %}
      
      {% if custom_field.type == 'select' %}
      <div id="payment-custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
        <label class="control-label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
        <select name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control">
          <option value="">{{ text_select }}</option>
          
          
          
          {% for custom_field_value in custom_field.custom_field_value %}
          
          
          
          <option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
          
          
          
          {% endfor %}
        
        
        
        </select>
      </div>
      {% endif %}
      
      {% if custom_field.type == 'radio' %}
      <div id="payment-custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
        <label class="control-label">{{ custom_field.name }}</label>
        <div id="input-payment-custom-field{{ custom_field.custom_field_id }}"> {% for custom_field_value in custom_field.custom_field_value %}
          <div class="radio">
            <label>
              <input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" />
              {{ custom_field_value.name }}</label>
          </div>
          {% endfor %} </div>
      </div>
      {% endif %}
      
      {% if custom_field.type == 'checkbox' %}
      <div id="payment-custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
        <label class="control-label">{{ custom_field.name }}</label>
        <div id="input-payment-custom-field{{ custom_field.custom_field_id }}"> {% for custom_field_value in custom_field.custom_field_value %}
          <div class="checkbox">
            <label>
              <input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" />
              {{ custom_field_value.name }}</label>
          </div>
          {% endfor %} </div>
      </div>
      {% endif %}
      
      {% if custom_field.type == 'text' %}
      <div id="payment-custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
        <label class="control-label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
        <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
      </div>
      {% endif %}
      
      {% if custom_field.type == 'textarea' %}
      <div id="payment-custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
        <label class="control-label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
        <textarea name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" rows="5" placeholder="{{ custom_field.name }}" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control">{{ custom_field.value }}</textarea>
      </div>
      {% endif %}
      
      {% if custom_field.type == 'file' %}
      <div id="payment-custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
        <label class="control-label">{{ custom_field.name }}</label>
        <br />
        <button type="button" id="button-payment-custom-field{{ custom_field.custom_field_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default"><i class="fa fa-upload"></i> {{ button_upload }}</button>
        <input type="hidden" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="" id="input-payment-custom-field{{ custom_field.custom_field_id }}" />
      </div>
      {% endif %}
      
      {% if custom_field.type == 'date' %}
      <div id="payment-custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
        <label class="control-label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
        <div class="input-group date">
          <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" data-date-format="YYYY-MM-DD" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
          <span class="input-group-btn">
          <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
          </span></div>
      </div>
      {% endif %}
      
      {% if custom_field.type == 'time' %}
      <div id="payment-custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
        <label class="control-label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
        <div class="input-group time">
          <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" data-date-format="HH:mm" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
          <span class="input-group-btn">
          <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
          </span></div>
      </div>
      {% endif %}
      
      {% if custom_field.type == 'datetime' %}
      <div id="payment-custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
        <label class="control-label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
        <div class="input-group datetime">
          <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" data-date-format="YYYY-MM-DD HH:mm" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
          <span class="input-group-btn">
          <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
          </span></div>
      </div>
      {% endif %}
      
      {% endif %}
      {% endfor %}
    </fieldset>

    {{ captcha }}</div>
</div>
<div class="checkbox">
  <label for="newsletter">
    <input type="checkbox" name="newsletter" value="1" id="newsletter" />
    {{ entry_newsletter }}</label>
</div>
{% if shipping_required %}
<div class="checkbox">
  <label>
    <input type="checkbox" name="shipping_address" value="1" checked="checked" />
    {{ entry_shipping }}</label>
</div>
{% endif %}
{% if text_agree %}
<div class="buttons clearfix">
  <div class="pull-right">{{ text_agree }} 
    &nbsp;
    <input type="checkbox" name="agree" value="1" />
    <input type="button" value="{{ button_continue }}" id="button-register" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
  </div>
</div>
{% else %}
<div class="buttons clearfix">
  <div class="pull-right">
    <input type="button" value="{{ button_continue }}" id="button-register" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
  </div>
</div>
{% endif %} 
<script type="text/javascript"><!--
// Sort the custom fields
$('#account .form-group[data-sort]').detach().each(function() {
	if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#account .form-group').length) {
		$('#account .form-group').eq($(this).attr('data-sort')).before(this);
	}

	if ($(this).attr('data-sort') > $('#account .form-group').length) {
		$('#account .form-group:last').after(this);
	}

	if ($(this).attr('data-sort') == $('#account .form-group').length) {
		$('#account .form-group:last').after(this);
	}

	if ($(this).attr('data-sort') < -$('#account .form-group').length) {
		$('#account .form-group:first').before(this);
	}
});

$('#address .form-group[data-sort]').detach().each(function() {
	if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#address .form-group').length) {
		$('#address .form-group').eq($(this).attr('data-sort')).before(this);
	}

	if ($(this).attr('data-sort') > $('#address .form-group').length) {
		$('#address .form-group:last').after(this);
	}

	if ($(this).attr('data-sort') == $('#address .form-group').length) {
		$('#address .form-group:last').after(this);
	}

	if ($(this).attr('data-sort') < -$('#address .form-group').length) {
		$('#address .form-group:first').before(this);
	}
});

$('#collapse-payment-address input[name=\'customer_group_id\']').on('change', function() {
	$.ajax({
		url: 'index.php?route=checkout/checkout/customfield&customer_group_id=' + this.value,
		dataType: 'json',
		success: function(json) {
			$('#collapse-payment-address .custom-field').hide();
			$('#collapse-payment-address .custom-field').removeClass('required');

			for (i = 0; i < json.length; i++) {
				custom_field = json[i];

				$('#payment-custom-field' + custom_field['custom_field_id']).show();

				if (custom_field['required']) {
					$('#payment-custom-field' + custom_field['custom_field_id']).addClass('required');
				}
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$('#collapse-payment-address input[name=\'customer_group_id\']:checked').trigger('change');
//--></script> 
<script type="text/javascript"><!--
$('#collapse-payment-address button[id^=\'button-payment-custom-field\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input[name^=\'custom_field\']').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input[name^=\'custom_field\']').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script> 
<script type="text/javascript"><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});

$('.time').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: false
});

$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});
//--></script> 
<script type="text/javascript"><!--
$('#collapse-payment-address select[name=\'country_id\']').on('change', function() {
	$.ajax({
		url: 'index.php?route=checkout/checkout/country&country_id=' + this.value,
		dataType: 'json',
		beforeSend: function() {
			$('#collapse-payment-address select[name=\'country_id\']').prop('disabled', true);
		},
		complete: function() {
			$('#collapse-payment-address select[name=\'country_id\']').prop('disabled', false);
		},
		success: function(json) {
			if (json['postcode_required'] == '1') {
				$('#collapse-payment-address input[name=\'postcode\']').parent().addClass('required');
			} else {
				$('#collapse-payment-address input[name=\'postcode\']').parent().removeClass('required');
			}

			html = '<option value="">{{ text_select }}</option>';

			if (json['zone'] && json['zone'] != '') {
				for (i = 0; i < json['zone'].length; i++) {
					html += '<option value="' + json['zone'][i]['zone_id'] + '"';

					if (json['zone'][i]['zone_id'] == '{{ zone_id }}') {
						html += ' selected="selected"';
					}

					html += '>' + json['zone'][i]['name'] + '</option>';
				}
			} else {
				html += '<option value="0" selected="selected">{{ text_none }}</option>';
			}

			$('#collapse-payment-address select[name=\'zone_id\']').html(html);
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$('#collapse-payment-address select[name=\'country_id\']').trigger('change');
//--></script> 

<script type="text/javascript"><!--
  $('#collapse-payment-address button[id^=\'button-payment-custom-field\']').on('click', function() {
    var node = this;
  
    $('#form-upload').remove();
  
    $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');
  
    $('#form-upload input[name=\'file\']').trigger('click');
  
    if (typeof timer != 'undefined') {
        clearInterval(timer);
    }
  
    timer = setInterval(function() {
      if ($('#form-upload input[name=\'file\']').val() != '') {
        clearInterval(timer);
  
        $.ajax({
          url: 'index.php?route=tool/upload',
          type: 'post',
          dataType: 'json',
          data: new FormData($('#form-upload')[0]),
          cache: false,
          contentType: false,
          processData: false,
          beforeSend: function() {
            $(node).button('loading');
          },
          complete: function() {
            $(node).button('reset');
          },
          success: function(json) {
            $(node).parent().find('.text-danger').remove();
  
            if (json['error']) {
              $(node).parent().find('input[name^=\'custom_field\']').after('<div class="text-danger">' + json['error'] + '</div>');
            }
  
            if (json['success']) {
              alert(json['success']);
  
              $(node).parent().find('input[name^=\'custom_field\']').val(json['code']);
            }
          },
          error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
          }
        });
      }
    }, 500);
  });
  //--></script>
  <script type="text/javascript"><!--
  $('.date').datetimepicker({
    language: '{{ datepicker }}',
    pickTime: false
  });
  
  $('.time').datetimepicker({
    language: '{{ datepicker }}',
    pickDate: false
  });
  
  $('.datetime').datetimepicker({
    language: '{{ datepicker }}',
    pickDate: true,
    pickTime: true
  });
  //--></script> 
  <script type="text/javascript"><!--
  $('#collapse-payment-address select[name=\'country_id\']').on('change', function() {
    $.ajax({
      url: 'index.php?route=checkout/checkout/country&country_id=' + this.value,
      dataType: 'json',
      beforeSend: function() {
        $('#collapse-payment-address select[name=\'country_id\']').prop('disabled', true);
      },
      complete: function() {
        $('#collapse-payment-address select[name=\'country_id\']').prop('disabled', false);
      },
      success: function(json) {
        if (json['postcode_required'] == '1') {
          $('#collapse-payment-address input[name=\'postcode\']').parent().parent().addClass('required');
        } else {
          $('#collapse-payment-address input[name=\'postcode\']').parent().parent().removeClass('required');
        }
  
        html = '<option value="">{{ text_select }}</option>';
  
        if (json['zone'] && json['zone'] != '') {
          for (i = 0; i < json['zone'].length; i++) {
            html += '<option value="' + json['zone'][i]['zone_id'] + '"';
  
            if (json['zone'][i]['zone_id'] == '{{ zone_id }}') {
              html += ' selected="selected"';
            }
  
            html += '>' + json['zone'][i]['name'] + '</option>';
          }
        } else {
          html += '<option value="0" selected="selected">{{ text_none }}</option>';
        }
  
        $('#collapse-payment-address select[name=\'zone_id\']').html(html);
      },
      error: function(xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  });
  
  $('#collapse-payment-address select[name=\'country_id\']').trigger('change');
  //--></script> 
  


  <script type="text/javascript"><!--
    function vCPF(cpf) {
      cpf = cpf.replace(/[^\d]+/g,'');
  
      if(cpf == '' || cpf.length != 11) return false;
  
      var resto;
      var soma = 0;
  
      if (cpf == "00000000000" || cpf == "11111111111" || cpf == "22222222222" || cpf == "33333333333" || cpf == "44444444444" || cpf == "55555555555" || cpf == "66666666666" || cpf == "77777777777" || cpf == "88888888888" || cpf == "99999999999" || cpf == "12345678909") return false;
  
      for (i=1; i<=9; i++) soma = soma + parseInt(cpf.substring(i-1, i)) * (11 - i);
      resto = (soma * 10) % 11;
  
      if ((resto == 10) || (resto == 11))  resto = 0;
      if (resto != parseInt(cpf.substring(9, 10)) ) return false;
  
      soma = 0;
      for (i = 1; i <= 10; i++) soma = soma + parseInt(cpf.substring(i-1, i)) * (12 - i);
      resto = (soma * 10) % 11;
  
      if ((resto == 10) || (resto == 11))  resto = 0;
      if (resto != parseInt(cpf.substring(10, 11) ) ) return false;
      return true;
    }
    function vCNPJ(cnpj) {
      cnpj = cnpj.replace(/[^\d]+/g,'');
  
      if(cnpj == '' || cnpj.length != 14) return false;
  
      if (cnpj == "00000000000000" || cnpj == "11111111111111" || cnpj == "22222222222222" || cnpj == "33333333333333" || cnpj == "44444444444444" || cnpj == "55555555555555" || cnpj == "66666666666666" || cnpj == "77777777777777" || cnpj == "88888888888888" || cnpj == "99999999999999") return false;
  
      var tamanho = cnpj.length - 2
      var numeros = cnpj.substring(0,tamanho);
      var digitos = cnpj.substring(tamanho);
      var soma = 0;
      var pos = tamanho - 7;
  
      for (i = tamanho; i >= 1; i--) {
        soma += numeros.charAt(tamanho - i) * pos--;
        if (pos < 2)
          pos = 9;
      }
  
      var resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
  
      if (resultado != digitos.charAt(0)) return false;
  
      tamanho = tamanho + 1;
      numeros = cnpj.substring(0,tamanho);
      soma = 0;
      pos = tamanho - 7;
  
      for (i = tamanho; i >= 1; i--) {
        soma += numeros.charAt(tamanho - i) * pos--;
        if (pos < 2) pos = 9;
      }
  
      resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
  
      if (resultado != digitos.charAt(1)) return false;
  
      return true;
    }
    $("input[placeholder]").each( function () {
      if ($(this).attr("placeholder").indexOf("CPF")>=0) {
        var cId = $(this).attr("id");
        $(this).blur(function(e){
          if (e.currentTarget.value !== '' && !vCPF(e.currentTarget.value)) {
            alert("Digite um CPF válido!");
            $("#"+cId).val("");
          }
        });
        $(this).mask('000.000.000-00', {
          onComplete: function(val, e, field, options) {
            if (!vCPF(val)) {
              alert("Digite um CPF válido!");
              $("#"+cId).val("");
            }
          },
          placeholder: "___.___.___-__"
        });
      }
      if ($(this).attr("placeholder").indexOf("CNPJ")>=0) {
        var cnId = $(this).attr("id");
        $(this).blur(function(e){
          if (e.currentTarget.value !== '' && !vCNPJ(e.currentTarget.value)) {
            alert("Digite um CNPJ válido!");
            $("#"+cnId).val("");
          }
        });
        $(this).mask('00.000.000/0000-00', {
          onComplete: function(val, e, field, options) {
            if (!vCNPJ(val)) {
              alert("Digite um CNPJ válido!");
              $("#"+cnId).val("");
            }
          },
          placeholder: "__.___.___/____-__"
        });
      }
      if ($(this).attr("placeholder").indexOf("Data")>=0) {
        $(this).mask('00/00/0000', {placeholder: "__/__/____"});
      }
      if ($(this).attr("placeholder").indexOf("Telefone")>=0 || $(this).attr("placeholder").indexOf("Fax")>=0 || $(this).attr("placeholder").indexOf("Celular")>=0) {
        var masks = ['(00) 00000-0000', '(00) 0000-00009'];
        $(this).mask(masks[1], {
          onKeyPress: function(val, e, field, options) {
            field.mask(val.length > 14 ? masks[0] : masks[1], options) ;
          },
          placeholder: "(__)____-____"
        });
      }
      if ($(this).attr("placeholder").indexOf("CEP")>=0) {
        $(this).mask('00000-000', {placeholder: "_____-___", clearIfNotMatch: true});
      }
    });
  //--></script>



  <script type="text/javascript">
    $(function(){
      $('#input-payment-postcode').blur(function(){
        var cep = $.trim($('#input-payment-postcode').val().replace('-', ''));
  
        $.getJSON("https://viacep.com.br/ws/"+cep+"/json/", function(data) {
          var resultadoCEP = data;
          if(resultadoCEP["logradouro"] != "" && resultadoCEP["logradouro"] != undefined){
            $('#input-payment-address-1').val(unescape(resultadoCEP["logradouro"]));
            $('#input-payment-address-2').val(unescape(resultadoCEP["bairro"]));
            $('#input-payment-city').val(unescape(resultadoCEP["localidade"]));
  
            $('#input-payment-country').find('option[value="30"]').attr('selected', true);
            $.post('index.php?route=account/address/estado_autocompletar&estado=' + unescape(resultadoCEP['uf']), function(zone_id){
              $.ajax({
                url: 'index.php?route=account/account/country&country_id=30',
                dataType: 'json',
                beforeSend: function() {
                  $('#input-payment-country').after('<span class="wait">&nbsp;<img src="catalog/view/theme/default/image/loading.gif" alt="" /></span>');
                },
                complete: function() {
                  $('.wait').remove();
                },
                success: function(json) {
                  if (json['postcode_required'] == '1') {
                    $('#collapse-payment-address input[name=\'postcode\']').parent().parent().addClass('required');
                  } else {
                    $('#collapse-payment-address input[name=\'postcode\']').parent().parent().removeClass('required');
                  }
  
                  var html = '<option value="">{{ text_select }}</option>';
  
                  if (json['zone'] != '') {
                    for (i = 0; i < json['zone'].length; i++) {
                      html += '<option value="' + json['zone'][i]['zone_id'] + '"';
  
                      if (json['zone'][i]['zone_id'] == zone_id) {
                        html += ' selected="selected"';
                      }
  
                      html += '>' + json['zone'][i]['name'] + '</option>';
                    }
                  } else {
                    html += '<option value="0" selected="selected">{{ text_none }}</option>';
                  }
  
                  $('#input-payment-zone').html(html);
                }
              });
            });
          } else if (resultadoCEP.erro) {
            if (confirm('CEP não encontrado! Deseja informar outro?')) {
              $('#input-payment-postcode').val('');
              $('#input-payment-postcode').focus();
            }
          }
        });
      });
    });
    $(document).ready(function() {
      if ($('#input-payment-postcode').val().length==8 || $('#input-payment-postcode').val().length==9) {
        $('#input-payment-postcode').trigger('blur');
      }
    });