{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button id="button-send" data-loading-text="{{ text_loading }}" data-toggle="tooltip" title="{{ button_send }}" class="btn btn-primary" onclick="send('index.php?route=marketing/contact/send&user_token={{ user_token }}');"><i class="fa fa-envelope"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-envelope"></i> {{ heading_title }}</h3>
      </div>
      <div class="panel-body">
        <form class="form-horizontal">         

		  <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-campaign-name">Nome da Campanha</label>
            <div class="col-sm-10">
              <input type="text" name="campaign_name" value="" placeholder="Nome da Campanha" id="input-campaign-name" class="form-control" />
            </div>
          </div>

		  <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-subject">{{ entry_subject }}</label>
            <div class="col-sm-10">
              <input type="text" name="subject" value="" placeholder="{{ entry_subject }}" id="input-subject" class="form-control" />
            </div>
          </div>

		  <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-campaign-name">Data de envio</label>
            <div class="col-sm-10">
              <input type="text" name="campaign_date" value="" placeholder="Data de envio" id="input-campaign-date" class="form-control" />
            </div>
          </div>

		  {% if books %}
		  <div class="form-group">
			<label class="col-sm-2 control-label" for="input-books-default">Selecione a Lista</label>
			  <div class="col-sm-10">
				<select name="module_sendpulse_book_default" id="input-book-default" class="form-control">
				  <option value="">{{ text_select }}</option>
		  			{% for book in books %}
				  		<option value="{{ book.id }}" {% if book.id == module_sendpulse_book_default %} selected {% endif %}>{{ book.name }}</option>
				  	{% endfor %}
				</select>
			  </div>
		  </div>
		{% endif %}


		  <div class="form-group to" id="to-product">
            <label class="col-sm-2 control-label" for="input-product"><span data-toggle="tooltip" title="{{ help_product }}">{{ entry_product }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="products" value="" placeholder="{{ entry_product }}" id="input-product" class="form-control" />
              <div class="well well-sm" style="height: 150px; overflow: auto;"></div>
            </div>
          </div>
         

		  

          
          
        


        </form>
      </div>
    </div>
  </div>
  <link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet" />
  <link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet" />
  <link href="view/javascript/jquery/jsdatetimepicker/jquery.datetimepicker.min.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script> 
  <script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script> 
  <script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script> 
  <script type="text/javascript" src="view/javascript/summernote/summernote.min.js"></script>
  <link href="view/javascript/summernote/summernote.min.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script> 
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script> 
  <script type="text/javascript" src="view/javascript/jquery/jsdatetimepicker/jquery.datetimepicker.full.min.js"></script> 
  
  <script type="text/javascript"><!--
$('select[name=\'to\']').on('change', function() {
	$('.to').hide();

	$('#to-' + this.value.replace('_', '-')).show();
});

$('select[name=\'to\']').trigger('change');
//--></script> 
  <script type="text/javascript"><!--

	$(function () {		

		$.datetimepicker.setLocale('pt-BR');
		var startDate = moment(Date()).format('DD/MM/YYYY');	
		var startTime = moment(Date()).add(30, 'minutes').format('HH:mm');	
		$('#input-campaign-date').datetimepicker({
			format:'d/m/Y H:i',  			
			//closeOnDateSelect: true,
			step: 30,
			onSelectDate:function(ct,$i){				
				var currentDateTime = new Date();
				if(currentDateTime.getDate() == moment(ct).format('DD') && currentDateTime.getHours() >= 23 && currentDateTime.getMinutes() <= 59){
					this.setOptions({
					  //allowTimes:['05:00']						
					  minTime:'23:30',
					  //maxTime:'23:00',
					  step: 30,
				  });								
				}else{
					this.setOptions({
						//allowTimes:['05:00']						
						minTime:startTime,
						step: 30,
					});
				}
			  },
			  onShow:function(ct,$i){				
				var currentDateTime = new Date();
				if(currentDateTime.getDate() == moment(ct).format('DD') && currentDateTime.getHours() >= 23 && currentDateTime.getMinutes() <= 59){
					this.setOptions({
					  //allowTimes:['05:00']						
					  minTime:'23:30',
					  //maxTime:'23:00',
					  step: 30,
				  });								
				}else{
					this.setOptions({
						//allowTimes:['05:00']						
						minTime:startTime,
						step: 30,
					});
				}
			  },
			defaultDate: startDate,
			defaultTime: startTime,
			
			//minDate:'21/08/2022',
			//onChangeDateTime:logic,
			//onShow:logic		
			//format:"DD/MM/YYYY HH:mm:ss",
			//language: 'pt-br',
			//minuteStepping: 5						
		    //minDate: "21/08/2022 23:00:00",		
			//maxDate: "21/08/2023 23:00:00",		
			//defaultDate: defDate.toString("DD/MM/YYY hh:mm:ss")
			//minDate: moment().add(4, 'hours'),
		});				
	});

	
	 

// Products
$('input[name=\'products\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	},
	'select': function(item) {
		$('input[name=\'products\']').val('');

		$('#product' + item['value']).remove();

		$('#input-product').parent().find('.well').append('<div id="product' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="product[]" value="' + item['value'] + '" /></div>');
	}
});

$('#input-product').parent().find('.well').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});

function send(url) {
	$.ajax({
		url: url,
		type: 'post',
		data: $('#content select, #content input, #content textarea'),
		dataType: 'json',
		beforeSend: function() {
			//$('#button-send').button('loading');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();

			if (json['error']) {
				if (json['error']['warning']) {
					$('#content > .container-fluid').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error']['warning'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}

				if (json['error']['email']) {
					$('#content > .container-fluid').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error']['email'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}

				if (json['error']['subject']) {
					$('input[name=\'subject\']').after('<div class="text-danger">' + json['error']['subject'] + '</div>');
				}

				if (json['error']['message']) {
					$('textarea[name=\'message\']').parent().append('<div class="text-danger">' + json['error']['message'] + '</div>');
				}
			}

			if (json['success']) {
				$('#content > .container-fluid').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i>  ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
			}
				
			if (json['next']) {
				send(json['next']);
			} else {
				$('#button-send').button('reset');
			}
			
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
}
//--></script></div>
{{ footer }}
